/* stylesheet.css */
/* Style rule for the body element */
body{
  background-color:yellow;
  background-image:url(pix/bkgwood.jpg);
/* Default font styling */
  font: 10pt Arial, Helvetica, Sans-Serif;
  color:#5d3f25;
}
/* Style rule for the wrapper div */
#wrapper{
  width:900px;
  margin:0 auto;
  background-color:white;  
  border:solid 2px #4c2e16;
  border-radius:20px;
  box-shadow:8px 8px 8px black;
}
/* Style for h1 headings */
h1{
  font:italic small-caps bold 24px Arial Black, Gadget, Sans-Serif;
  text-shadow:-2px -2px 2px #a48362;
  text-align:center;
}
/* Style for h2 headings */
h2{
  font:italic small-caps bold 18px Arial Black, Gadget, Sans-Serif;
  text-shadow:-1px -1px 1px #a48362;
}
/* Style for paragraphs */
p{
  line-height:1.5;
}

/* Style Classes */
.hilite {
  background-color: pink;
}
/* raised apperance */
/* works for images, tables, and block elements */
.raised {
  border:solid 3px grey;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
}

img.left {
  float: left;
  width:30%; /* from left magin - 30% of the way inside */
  margin-right: 10px /* right side margin 10px */


}
img.right {
  float: right;
  width:30%; /* from left magin - 30% of the way inside */
  margin-right: 10px /* right side margin 10px */
}

.centerall {
  text-align: center;
  /* clear floating */
  clear:both;
}

a:link{
  color:darkblue;
}

a:visited{
  color: red;
}
a:hover{
  background-color:#d354b7;
  color:#c5cf2e;
}

a:active{
  background-color:#294ccc;
  color:#c0ad9a;
}

p {
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
}

table{
/* Center the table, and put one blank line above and below */
margin:1em auto;
/* Remove spacing between cells */
 border-collapse: collapse;
}

th, td{
/* Borders around all cells. */
 border:solid 1px gray;
  /* Add 2px top and bottom padding, 4px side padding in each cell */
padding:2px 4px;
}

/* Color the background of every other table row */
tr:nth-child(odd){
 background-color:#cef;
}

td:nth-child(2){
 text-align:center;
}

th:nth-child(3),td:nth-child(3){
 text-align:right;
}

/* Highlight table row on hover */
tr:hover{
 background-color:yellow;
 cursor:default;
}

/* Give table header cells a gray background */
th {
  background-color: #ddd;
}


