body {
  font-family:arial, helvetica;
  text-align: center;
  }
#container {
}
#directions, #flashlight, #danceparty {
    margin:4px;
}
ol {
    display: inline-block;
    margin: 0 auto;
    text-align:left;
}
 
.bigButton {
    font-size:18px;
}

