/* add your CSS here */

.animal-card {
    width: 320px;
    border: .5px solid #ccc;
    box-shadow: 5px 5px #e5e5e5;
    padding: 10px;
    background-color: olivedrab;
    border-radius: 5px;
}

.animal-card img {
    width: "300px";
    margin: 10px;
    border-radius: 15px;
    /* width: 100%; */
}

.animal-card-name {
    padding-left: 10px;
}

.animal-card-description {
    width: 280px;
    border: .5px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: yellowgreen;
    border-radius: 15px;
}

.animal-card-description ul {
    list-style: none;
    padding-left: 0;
}

